mixin slider(options = {})
    -
        const {size = "auto", fromValue=50, min=0, max=100, grid="true", skin="pips"} = options;
    .slider.js-slider(class="" + (" slider_size_" + size)
    	data-min=min
		data-max=max
		data-from=fromValue
		data-grid=grid
		data-skin=skin)
        input.slider__holder.js-slider__holder