mixin toggle(options = {})
    -
        const {checked = false, name = "toggle", id = ""} = options;
        let title
    .toggle
        input.toggle__fakeInput(type="checkbox" name=name, checked=checked, id=id)
        label.toggle__outer(for=id name=name)
            .toggle__handle