mixin inputMix(options)
	-
		var options 	= options ? options : {}
		var type 		= options.type ? options.type : 'text',
			required 	= options.required,
			name 		= options.name ? options.name : 'input',
			form 		= options.form ? options.form : 'bar',
			radius 		= options.radius ? options.radius : 'default',
			placeholder = options.placeholder ? options.placeholder : '';

	.input(data-type=type data-name=name)
		.input__outer
			case form
				when 'bar'
					input.input__entry(required=(required ? required : false) type=type placeholder=placeholder class='' +
						(' input__entry_form_' + form) +
						(' input__entry_radius_' + radius))
					.input__message(class='' + (' input__message_state_hidden'))
				when 'box'
					textarea.input__entry(required=(required ? required : false) type=type placeholder=placeholder class='' + 
						(' input__entry_form_' + form) + 
						(' input__entry_radius_' + radius))