mixin video(options)
    -
        options = options || {};
        const {src = "", preview = "", title = "unknown", author = "unknown", source} = options;
    .video
        .video__outer
            .video__info
                em.video__title= title
                em.video__author= author
                if source
                    a.video__link(href=source target="_blank" rel="noopener noreferrer")= source
            video(id="my_video_1" class="video-js vjs-default-skin" width="594px" height="336px"
                    controls preload="none" poster=preview
                    data-setup='{"aspectRatio":"594:336", "playbackRates": [1, 1.5, 2] }')
                source(src=src type="video/mp4")