//- Блок с информацией о пользователе. Свойства:
//- 'image' (string) 						- обёртка для иконки пользователя. 				По умолчанию - ''.
//- 'name' (string) 						- имя (фамилия) пользователя. 					По умолчанию - 'name'.
//- 'profession' (string) 					- профессия пользователя. 						По умолчанию - 'unknown'.
//- 'facebook' (string) 					- ссылка на профиль пользователя в facebook. 	По умолчанию - '#'.
//- 'dribble' (string) 						- ссылка на профиль пользователя в dribble. 	По умолчанию - '#'.
//- 'twitter' (string) 						- ссылка на профиль пользователя в twitter. 	По умолчанию - '#'.
//- 'theme' (string) ['gray', 'aquamarine'] - цветовая схема блока. 						По умолчанию - 'gray'.
//- Ожидается изображение.
mixin userMix(options)
	-
		var options 	= options ? options : {};
		var image 		= options.image ? options.image : '',
			name 		= options.name ? options.name : 'name',
			profession 	= options.profession ? options.profession : 'unknown',
			facebook 	= options.facebook ? options.facebook : '#',
			twitter 	= options.twitter ? options.twitter : '#',
			dribble 	= options.dribble ? options.dribble : '#',
			theme 		= options.theme ? options.theme : 'gray';
	.user(class="" + (' user_theme_' + theme))&attributes(attributes)
		.user__outer
			.user__image
				if block
					block
			.user__info
				em.user__name= name
				em.user__profession= profession
				.user__socialBox
					a.user__social(target="_blank" href=facebook)
						svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve")
							g
								path(id="f_1_" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452v20.341H37.29v27.585h23.814v70.761H89.584z")
					a.user__social(target="_blank" href=dribble)
						svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve")
								g
									path(d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411    c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513    c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101    c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104    c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194    c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485    c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z")
					a.user__social(target="_blank" href=twitter)
						svg(viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M50 0C22.397 0 0 22.397 0 50C0 77.603 22.397 100 50 100C77.5488 100 100 77.603 100 50C100 22.397 77.5488 0 50 0ZM83.026 23.0477C88.9913 30.3145 92.5705 39.5879 92.679 49.6204C91.269 49.3492 77.1692 46.4751 62.961 48.2646C62.6356 47.5597 62.3644 46.8004 62.0391 46.0412C61.1714 43.9805 60.1952 41.8655 59.2191 39.859C74.9458 33.4599 82.1041 24.2408 83.026 23.0477ZM50 7.37527C60.846 7.37527 70.7701 11.4425 78.308 18.1128C77.5488 19.1974 71.0954 27.82 55.9111 33.5141C48.9154 20.6616 41.1605 10.141 39.9675 8.5141C43.167 7.75488 46.5293 7.37527 50 7.37527ZM31.833 11.3883C32.9718 12.9067 40.564 23.4816 47.6681 36.0629C27.7115 41.3774 10.0868 41.269 8.18872 41.269C10.9544 28.0369 19.9024 17.0282 31.833 11.3883ZM7.26681 50.0542C7.26681 49.6204 7.26681 49.1866 7.26681 48.7527C9.11063 48.8069 29.8265 49.0781 51.1388 42.679C52.3861 45.0651 53.5249 47.5054 54.6095 49.9458C54.0672 50.1085 53.4707 50.2712 52.9284 50.4338C30.9111 57.538 19.1974 76.9523 18.2213 78.5792C11.4425 71.0412 7.26681 61.0087 7.26681 50.0542ZM50 92.7332C40.1302 92.7332 31.0195 89.3709 23.8069 83.731C24.5662 82.1584 33.243 65.4555 57.321 57.0499C57.4295 56.9957 57.4837 56.9957 57.5922 56.9414C63.6117 72.5054 66.0521 85.5748 66.7028 89.3167C61.551 91.5401 55.9111 92.7332 50 92.7332ZM73.807 85.4122C73.3731 82.8091 71.0955 70.3362 65.5098 54.9892C78.9046 52.8742 90.6182 56.3449 92.0824 56.833C90.2386 68.7093 83.4056 78.9588 73.807 85.4122Z")